<template>
  <div class="HomeView">
    <Header></Header>
    <Users></Users>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Users from "@/components/Users.vue";

export default {
  name: "HomeView",
  components: {
    Header,
    Users,
  },
};
</script>
