<template>
  <div id="app">
    <Lawnmower />
  </div>
</template>

<script>
import Lawnmower from "@/components/Lawnmower.vue";

export default {
  components: {
    Lawnmower,
  },
};
</script>

<style lang="scss">
body {
  background: lightgrey;
  margin: 0.5rem;
  padding: 0.3rem;
}
</style>
