<template>
  <div class="button_component">
    <button
      :type="type"
      :style="{ backgroundColor: bcgcolor, color: textcolor }"
      class="btn"
    >
      {{ innerText }}
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
  props: ["innerText", "bcgcolor", "textcolor", "type", "route"],
})
export default class Button extends Vue {}
</script>

<style lang="scss">
button {
  color: #ffff;
}
button:hover {
  cursor: pointer;
}
</style>
