<template>
  <div class="card_component">
    <div>
      <b-card :title="title" class="card m-2">
        <b-card-text class="m-0 p-0"> email: {{ content }} </b-card-text>
        <b-card-text class="m-0 p-0">
          business name: {{ sub_content }}
        </b-card-text>
        <b-card-text class="m-0 p-0"> business phone: {{ phone }} </b-card-text>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
  props: {
    title: {
      type: String,
    },
    id: {
      type: Number,
    },
    content: {
      type: String,
    },
    sub_content: {
      type: String,
    },
    phone: {
      type: String,
    },
  },
})
export default class Card extends Vue {}
</script>

<style lang="scss" scoped>
@import "../../assets/scss/main.scss";
.card {
  @include card_color;
}
</style>
