<template>
  <div></div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

//this component is just a spine to easily create other new components
@Component({
  computed: {},
  components: {},
})
export default class Root extends Vue {}
</script>

<style lang="scss" scoped>
</style>