<template>
  <div class="project">
    <header>
      <h3>
        Bienvenue Chez MowGrass-IT !!!<br />
        <i>Le meilleur endroit pour tondre votre pelouse sans se fatiguer.</i>
      </h3>
      <h4>
        Pour tondre, il vous suffit de rentrer une séquence de lettres
        spécifiques dans le champ ci-dessous: <br />---
        <div class="infos">
          Si vous voulez que la tondeuse avance, faite le <b>"A"</b><br />
          Pour tourner à droite, faite un <b>"D"</b><br />Pour tourner à gauche,
          faite un <b>"G"</b>
        </div>
        ---
      </h4>
    </header>
    <section>
      <form class="flex">
        <input
          required
          type="text"
          name="sequence"
          v-model="nextSeq"
          placeholder="votre séquence..."
        />
        <button type="button" @click="main">envoyer le script</button>
      </form>
    </section>
    <section>
      <div>
        <p class="init_msg">{{ init_message }}</p>
        <p class="current_msg" v-if="hasMoved">
          {{ getCurrentPos }}
        </p>
      </div>
    </section>
    <section>
      <div>
        <p class="error_msg" v-if="errorsCounter > 0">
          La tondeuse à reçue {{ errorsCounter }} ou plusieurs instructions non
          valables, merci de rentrer une séquence valide. Ce message
          s'auto-détruira dans 5 secondes.
        </p>
        <p class="outOfBound_msg" v-if="outOfGarden">
          La tondeuse sort du jardin avec un des instructions de la séquence.
          Elle est passée à la suivante automatiquemment. Ce message
          s'auto-détruira dans 5 secondes.
        </p>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Lawnmower",

  data() {
    return {
      errorsCounter: 0,
      init_message: "",
      current_message: "",
      currentPos: { x: 0, y: 0, orientation: 0 },
      sequence: [],
      nextSeq: "",
      outOfGarden: false,
      direction: "",
      hasMoved: false,
      initialPos: { x: 0, y: 0, orientation: "N" },
    };
  },
  /**
   * cela permet de récupérer dès le début la position initiale
   */
  created() {
    this.getIntitalPosMessage();
  },

  methods: {
    /**
     * Renvoie LE MESSAGE indiquant la position initiale
     */
    getIntitalPosMessage() {
      this.init_message = `
    La position actuelle de la tondeuse est en bas à gauche, soit:
    x: ${this.initialPos.x},
    y: ${this.initialPos.y},
    et orientation: ${this.initialPos.orientation} `;
    },

    /**
     * Renvoie LE MESSAGE indiquant la position actuelle, et n'est active bien sur que si la tondeuse a bougée
     */
    getCurrentPosMessage() {
      if (
        this.currentPos.x != this.getIntitalPosMessage.x ||
        this.currentPos.y != this.getIntitalPosMessage.y
      ) {
        this.hasMoved = true;
        setTimeout(() => (this.errorsCounter = 0), 5000);
      }
    },

    /**
     * @param orientation => l'INTEGER correspondant à la cardinalité. en fonction de l'entier reçu
     * @returns => la direction, qui est la cardinalité correspondante au @param
     */
    getOrientation(orientation) {
      if (orientation == 0 || orientation == 4 || orientation == -4) {
        this.direction = this.convertPos(0);
      } else if (orientation == 1 || orientation == -3) {
        this.direction = this.convertPos(1);
      } else if (orientation == 2 || orientation == -2) {
        this.direction = this.convertPos(2);
      } else if (orientation == 3 || orientation == -1) {
        this.direction = this.convertPos(3);
      } else if (orientation >= 5) {
        this.getOrientation(orientation - 4);
      } else if (orientation <= -5) {
        this.getOrientation(orientation + 4);
      }
      return this.direction;
    },

    /**
     * @param value => transforme l'INTEGER passé en paramètre
     * @return => une String correspondant à la cardinalité courante.
     */
    convertPos(value) {
      switch (value) {
        case 0:
          value = "N";
          break;
        case 1:
          value = "EA";
          break;
        case 2:
          value = "S";
          break;
        case 3:
          value = "WE";
          break;
      }
      return value;
    },

    /**
     * @param move => un mouvement de la séquence.
     * Cette méthode prend en compte le type de mouvement et la cardinalité courante, et agit sur
     * la position de la tondeuse. C'est aussi elle qui vérifie si on n'atteint pas les limites du jardin
     * en renvoyant un message à l'utilisateur si c'est la cas, ou encore si une instruction dans la séquence
     * est potentiellement éronnée, auquel cas un mssage d'erreur spécifique est envoyé également.
     */
    checkMoveAndAction(move) {
      let actualhead = this.getOrientation(this.currentPos.orientation);
      if (move === "A") {
        if (actualhead == "N") {
          if (this.currentPos.y >= 5) {
            this.outOfGarden = true;
            setTimeout(() => (this.outOfGarden = false), 5000);
          } else {
            this.currentPos.y = this.currentPos.y + 1;
          }
        }
        if (actualhead == "S") {
          if (this.currentPos.y <= 0) {
            this.outOfGarden = true;
            setTimeout(() => (this.outOfGarden = false), 5000);
          } else {
            this.currentPos.y = this.currentPos.y - 1;
          }
        }
        if (actualhead == "EA") {
          if (this.currentPos.x >= 5) {
            this.outOfGarden = true;
            setTimeout(() => (this.outOfGarden = false), 5000);
          } else {
            this.currentPos.x = this.currentPos.x + 1;
          }
        }
        if (actualhead == "WE") {
          if (this.currentPos.x <= 0) {
            this.outOfGarden = true;
            setTimeout(() => (this.outOfGarden = false), 5000);
          } else {
            this.currentPos.x = this.currentPos.x - 1;
          }
        }
      } else if (move === "D") {
        let newhead = this.getOrientation(this.currentPos.orientation + 1);
        actualhead = newhead;
        this.currentPos.orientation = this.currentPos.orientation + 1;
      } else if (move === "G") {
        let newhead = this.getOrientation(this.currentPos.orientation - 1);
        actualhead = newhead;
        this.currentPos.orientation = this.currentPos.orientation - 1;
      } else {
        this.errorsCounter += 1;
      }
    },

    /**
     * Cette méthode est la méthode prinicpale.
     * Elle va vérifier l'existence d'une séquence, et si elle existe, récupère la séquence utilisateur,
     * la parcoure, et renvoie chaque instruction à la méthode checkMoveAndAction. Enfin, elle renvoie le message
     * via la méthode getCurrentPos.
     */
    main(e) {
      if (this.nextSeq.length == 0) {
        this.errorsCounter += 1;
      } else {
        e.preventDefault();
        this.nextSeq = this.nextSeq.toUpperCase();
        this.sequence = this.nextSeq.split("");
        localStorage.setItem("sequence", this.sequence);
        for (let index = 0; index < this.sequence.length; index++) {
          const move = this.sequence[index];
          this.checkMoveAndAction(move);
          this.getCurrentPosMessage();
          this.nextSeq = "";
        }
      }
    },
  },
  computed: {
    /**
     * Renvoie LES VALEURS de la position actuelle
     */
    getCurrentPos() {
      return `Voici la position de la tondeuse après lecture de la séquence: 
      x: ${this.currentPos.x},
      y: ${this.currentPos.y},
      orientation: ${this.direction}
      `;
    },
  },
};
</script>

<style scoped lang="scss">
$colors: #302927 darkred blue;
$font: "Arial" italic bold;
$shadow: 5px 3px 5px nth($colors, 1);

.project {
  text-align: center;
  color: nth($colors, 1);
}
.leaf {
  border-radius: 20px;
}

.init_msg,
.current_msg {
  font-weight: nth($font, 3);
}

.error_msg,
.infos {
  color: nth($colors, 2);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  input[type="text"] {
    margin-bottom: 0.5em;
    padding: 0.5em;
    height: 1rem;
    box-shadow: $shadow;
  }
}

button {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  color: black;
  box-shadow: $shadow;
  cursor: pointer;
  width: fit-content;
}
</style>
