<template>
  <div class="header_component">
    <nav class="nav_section">
      <div class="nav_title nav_logo">
        <img :src="require(`@/assets/logo.png`)" alt="logo" />
      </div>
      <div class="title_section">
        <h1>
          <b>{{ title }}</b>
        </h1>
      </div>
      <div class="counter">
        <p>
          <b>{{ usersLength }}&nbsp;utilisateurs</b>
        </p>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  computed: {
    ...mapGetters(["usersLength"]),
  },
  components: {},
})
export default class Header extends Vue {
  title: string = "Listing utilisateurs";
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main.scss";

.nav_section {
  display: flex;
  align-items: center;
  background: $card_color;
  height: 4em;
  padding: 0em 2em 0em 1em;
  color: black;
  justify-content: space-between;

  > .counter p {
    margin-bottom: 0px;
  }

  img {
    height: 3em;
  }
}
</style>
