<template>
  <div class="register_component">
    <div class="newUserForm m-2">
      <h1>Nouvel utilisateur</h1>
      <form>
        <div class="spacer m-2">
          <label>Name: </label><br />
          <input
            type="text"
            name="name"
            v-model="body.name"
            placeholder="name..."
            required
          />
        </div>
        <div class="spacer m-2">
          <label>Email: </label><br />
          <input
            type="text"
            name="email"
            v-model="body.email"
            placeholder="email..."
            required
          />
        </div>
        <div class="spacer m-2">
          <label>Company name: </label><br />
          <input
            type="text"
            name="companyName"
            v-model="body.company.name"
            placeholder="Company Name..."
            required
          />
        </div>

        <div class="spacer m-2">
          <label>Phone: </label><br />
          <input
            type="text"
            name="phone"
            v-model="body.phone"
            placeholder="Business phone..."
            required
          />
        </div>
        <div class="buttons">
          <div @click="onsub">
            <Button
              type="submit"
              bcgcolor="royalBlue"
              textcolor="#ffff"
              innerText="valider"
              class="mt-2 mb-2 ml-2 mr-1"
            />
          </div>
          <div @click="navigate(`/`)">
            <Button
              type="button"
              bcgcolor="#ed4046"
              textcolor="#ffff"
              innerText="retour"
              class="mt-2 mb-2 ml-1"
            />
          </div>
        </div>
      </form>
      <div v-if="hasError" class="errorAlert">
        Please check if all informations are provided before submitting
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import { Component, Prop, Vue } from "vue-property-decorator";
import { routerToPage } from "../router/helpers";
import Button from "../components/utils/Button.vue";

@Component({
  computed: {},
  components: { Button },
})
export default class Register extends Vue {
  hasError: boolean = false;
  body = {
    name: "",
    email: "",
    company: { name: "" },
    phone: "",
  };

  onsub(e) {
    e.preventDefault();
    if (
      !this.body.name ||
      !this.body.email ||
      !this.body.company.name ||
      !this.body.phone
    ) {
      this.hasError = true;
      setInterval(() => (this.hasError = false), 3000);
      return;
    } else {
      this.$store.dispatch("addOne", this.body);
      routerToPage(this.$router, "/");
    }
  }

  navigate(route) {
    routerToPage(this.$router, route);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main.scss";
h1 {
  text-align: center;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  background-color: $background;
  padding: $base_size;
  margin-top: $base_size * 1.5;
  border-radius: $base_size;

  input {
    width: 100%;
    padding: $base_size / 2;
    border-radius: $base_size / 2;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  button {
    color: #ffff;
  }
}

.errorAlert {
  background-color: $alert;
  color: #ffff;
  font-size: 2.5rem;
  font-weight: 800;
  padding: $base_size + 0.5;
  margin-top: $base_size;
  border-radius: $base_size / 2;
}
</style>