<template>
  <div class="users_component">
    <div @click="navigate(`/new`)">
      <Button
        type="button"
        :bcgcolor="color"
        textcolor="#ffff"
        innerText="Ajouter utilisateur"
        class="btn_add"
      />
    </div>
    <div v-for="user in allUsers" :key="user.id" class="card_template">
      <Card
        :title="user.name"
        :content="user.email"
        :sub_content="user.company.name"
        :phone="user.phone"
      />
      <div class="actions_buttons">
        <b-btn variant="info" class="ml-2 mb-1 mr-2" @click="deleteOne(user.id)"
          >Supprimer utilisateur</b-btn
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from "vuex";
import { Component, Prop, Vue } from "vue-property-decorator";
import { routerToPage } from "../router/helpers";
import Card from "./utils/Card.vue";
import Button from "./utils/Button.vue";

@Component({
  computed: {
    ...mapGetters(["allUsers"]),
  },
  methods: {
    ...mapActions(["deleteOne"]),
  },
  components: { Card, Button },
})
export default class Users extends Vue {
  color: string = "#047ebe";

  mounted() {
    this.GetUserList();
  }

  GetUserList() {
    this.$store.dispatch("getAllUsers");
  }
  navigate(route: string) {
    routerToPage(this.$router, route);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main.scss";

.card_template {
  @include card_template;
}

.btn_add,
.btn_update {
  margin: $base_size;
}
</style>