<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class App extends Vue {}
</script>


<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import "../src/assets/scss/main.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font_family;
  font-size: $base_size;
}

.btn {
  @include btn;
}
</style>
