<template>
  <div class="CartView">
    <SumCartComponent></SumCartComponent>
  </div>
</template>

<script>
import SumCartComponent from "../components/SumCart.vue";

export default {
  name: "CartView",
  components: {
    SumCartComponent,
  },
};
</script>

<style lang="scss">
</style>
