<template>
  <div class="mainView">
    <div class="productList_display ml-1 mr-1 mb-2">
      <ProductsComponent></ProductsComponent>
    </div>
    <div class="CartList_display ml-1 mr-1 mb-2">
      <CartComponent></CartComponent>
    </div>
  </div>
</template>

<script>
import ProductsComponent from "@/components/Products.vue";
import CartComponent from "@/components/Cart.vue";

export default {
  name: "HomeView",
  components: {
    ProductsComponent,
    CartComponent,
  },
};
</script>

<style lang="scss">
@import "../assets/scss/main.scss";
.mainView {
  display: flex;
  flex-direction: row;

  .productList_display {
    width: 70vw;
  }

  .CartList_display {
    width: 30vw;
  }
}

@media screen and (max-width: 1250px) {
  .mainView {
    display: flex;
    flex-direction: column;

    .productList_display {
      width: 100%;
    }
    .CartList_display {
      width: 100%;
    }
  }
}
</style>
