<template>
  <div>
    <b-navbar fixed="top" fluid variant="dark" type="dark">
      <b-navbar-brand>
        <img src="../assets/logo.png" class="app_logo" alt="app_logo" />
        VUEX_CART_APP
      </b-navbar-brand>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "NavbarComponent",
  data() {
    return {};
  },
  methods: {},
  computed: {},
});
</script>

<style lang="scss" scoped>
@import "../assets/scss/main.scss";
.navbar {
  height: fit-content;
}
</style>