<template>
  <div>
    <h3 class="text-center">AVAILABLE PRODUCTS LIST</h3>
    <div class="available-products pt-1 pb-1 --rounded">
      <div v-for="product in allProducts" :key="product.id">
        <b-card
          :img-src="product.image_url"
          img-alt="current product image"
          img-right
          class="m-1 --rounded"
        >
          <b-card-title :title="product.title"></b-card-title>
          <b-card-body class="p-0">
            <b-card-text class="--bold"> {{ product.price }} € </b-card-text>
            <b-button
              squared
              pill
              variant="success"
              @click="addProductToCart(product)"
              >Add To 🛒</b-button
            >
            <b-button
              squared
              pill
              class="ml-1"
              variant="info"
              @click="getDetailsOfProduct(product)"
              >DETAILS</b-button
            >
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";
import CartComponent from "./Cart.vue";

export default Vue.extend({
  components: { CartComponent },
  name: "ProductsComponent",
  data() {
    return {};
  },
  mounted() {
    this.GetAllProducts();
  },

  methods: {
    ...mapActions([
      "GetAllProducts",
      "addProductToCart",
      "getDetailsOfProduct",
    ]),
  },
  computed: {
    ...mapGetters(["allProducts", "detailedProduct"]),
  },
});
</script>

<style scoped lang="scss" scoped>
@import "../assets/scss/main.scss";
img {
  width: $base_size * 10;
  height: $base_size * 10;
  margin: $base_size;
}

.card {
  width: fit-content;
}

.available-products {
  background-color: #e9ecef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
</style>
