$card_color: linear-gradient(#ffff, #5d9ef3);
$background: rgb(228, 224, 224);
$base_size: 1rem;
$alert :#eb8934;
$font_family: "Montserrat",
sans-serif;


@mixin card_color {
    background: $card_color;
}

@mixin card_template {
    border: $background;
    background-color: $background;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.1rem;
}

@mixin btn {
    padding: 0.5em;
    border: none;
}