@import '_variables.scss';

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin delimiter {
    border: 1px solid #000000;
    padding: $base_size;
}

@mixin flexCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}